<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>first web</title>
</head>

<body>
<header>
  <h1 id="logo">FF WEB</h1>
  <nav id="nav-var">
    <ul id="lia">
      <li><a href="#main">About Me</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#section-container">Knowledge</a></li>
    </ul>
  </nav>
</header>

<main id="main">
  <section class="print-section">
    <div id="center-text">
      <h2 class="tittle-font">About me</h2>
      <p class="basic-font">Hi I'm Felipe Florez, fifth semester student of Computer Science at EAFIT University in Colombia, interested in the area of back-end development, with Java, Spring, MySQL technologies. Certified courses in scrum, agile methods, programming and many more things, I am interested also in technologies like Go and PHP, I try to learn every day more of this beautiful world of development ❤️.</p>
    </div>
  </section>

  <div class="print-section">
    <img src="/img/Imagen de WhatsApp 2023-06-06 a las 16.11.38.jpg" alt="image" width="500" height="500" class="windows-style">
  </div>

  <div id="section-container">
    <section id="java-window">
      <div>
        <h2 class="tittle-font">Back-End With Java</h2>
        <p class="basic-font"></p>
      </div>
      <div>
        <img src="/img/certificate.pdf" alt="Globant" width="450" height="300" class="windows-style">
      </div>
      <div class="windows">
        <ul class="basic-font">
          <li>POO con Java</li>
          <li>Spring, Spring Boot</li>
          <li>MySQL</li>
          <li>Database Connection</li>
        </ul>
      </div>
    </section>

    <section>
      <div>
        <h2 class="tittle-font">Platzi courses</h2>
        <p class="basic-font"></p>
      </div>
      <div>
        <img src="/img/platzi.png" alt="Platzi" width="450" height="300" class="windows-style">
      </div>
      <div class="windows">
        <ul class="basic-font">
          <li>Java, MySQL, HTML, CSS, JavaScript, React, PHP, etc.</li>
          <li>Git y GitHub, GitLab, Terminal.</li>
          <li>Scrum, Agile Methods, Teamwork.</li>
          <li>Logic, Design patterns.</li>
        </ul>
      </div>
    </section>
  </div>
</main>

<footer>
  <div class="basic-font">
    <p>create for FF FELIPE FLOREZ</p>
    <p>SOCIAL MEDIA</p>

    <nav id="contact">
      <ul id="li">
        <li><a href="https://github.com/jfelipefg17/jfelipefg17">GITHUB</a></li>
        <br>
        <li><a href="https://www.linkedin.com/in/jfelipefg17/">LINKEDIN</a></li>
        <br>
        <li><a href="https://api.whatsapp.com/send?phone=573203212181">WHATSAPP</a></li>
        <br>
        <li><a href="https://twitter.com/jfelipefg17">TWITTER</a></li>
        <br>
        <li><a href="https://www.instagram.com/felipeflorez17/">INSTAGRAM</a></li>
      </ul>
    </nav>
  </div>
</footer>
</body>

</html>
