/*  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

/*  */
body{
    background-color: rgb(201, 165, 76);

}

/*  */
#section-container {
    display: flex; /* put the sections next to each other */
    justify-content: space-around; /* space between sections */
}

/*  */
.print-section {
    display: flex;
    justify-content: center; /* horizontal centered */
    align-items: center; /* vertical centered */

}

/* styles header */
header {
    background-color: rgba(201, 165, 76, 0.7);
    padding: 1px 30px;
    display: flex;
    justify-content: space-between; /* put the elements in both sides */
    align-items: center; /* vertical center the elements */
    position: fixed;
    width: 100%;

}

/* styles logo */
#logo {
    font-size: 35px;
    font-weight: bold;
}

/* styles nav var */
#nav-var ul {
    list-style-type: none; /* remove the points of the list */
    padding: 0;
    margin: 0;
}

/*  */
#nav-var ul li {
    display: inline-block;
    margin-right: 20px;
    line-height: 80px;
}

/* styles menu */
#nav-var ul li a {
    text-decoration: none; /* remove the underline */
    color: rgb(0, 0, 0); /* text color */
    font-weight: bold;
}

/*  */
#java-window {
    float: left;
}

/*  */
.windows ul li{
    list-style-type:circle;
    padding: 5px ;
}

/*  */
.windows-style {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*  */
#main {
    background-color: aliceblue;
    color:black;
    padding: 50px;
}

/*  */
#center-text{
    text-align: center; /* horizontal center the content */
    max-width: 80%; /* limit the broad of the div for not overlays*/
    margin: 0 auto; /* horizontal center the div  */
}

/*  */
main .print-section {
    padding: 20px;
}

/*  */
footer{
    background-color: bisque;
    width: 100%;
    padding: 50px;
}

/*  */
.print-section {
    padding: 20px;
    margin-top: 20px
}

/*  */
.basic-font {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/*  */
.tittle-font {
    color: #6d1313;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  */
.tittle-font {
    color: #6d1313;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifßs, serif;
}

/*  */
#contact ul li a{
    color: #6d1313;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 20px;
}

/*  */
#lia a:hover {
    color: #ffffff
}

